<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ produto.nome }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/detalhes-style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    {% set page_title = "Carrinho de Compras" %}
    {% include 'partials/header.html' %}

<div class="container">

    <div class="product-card"
         data-id="{{ produto.id }}"
         data-name="{{ produto.nome }}"
         data-price="{{ produto.preco }}"
         data-image="{{ produto.imagem }}">

        <!-- Imagem -->
        <div class="image-box">
            <img src="{{ url_for('static', filename='images/' + produto.imagem) }}"
                 alt="{{ produto.nome }}">
        </div>

        <!-- Informações -->
        <div class="info-box">

            <h2>{{ produto.nome }}</h2>
            <p class="descricao">{{ produto.autor }}</p>
            <p class="preco">R$ {{ produto.preco }}</p>

            <p class="descricao">
                {{ produto.descricao }}
            </p>

            <h3>Detalhes do Produto</h3>
            <ul class="detalhes-prod">
                {% for item in produto.detalhes %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            <h3>Detalhes da compra</h3>
            <ul class="detalhes-compra">
                {% for item in produto.detalhes_compra %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            <form action="{{ url_for('add_carrinho', produto_id=produto.id) }}"
                method="post">
                <button type="submit" class="add-cart">
                    Adicionar ao carrinho
                </button>
            </form>


        </div>
    </div>

</div>

</body>
</html>